
.register-form{
    display:flex;
    justify-content: center;
    align-items: center;
}

.register-btn{
    display:flex;
    justify-content: center;
    align-items: center;
}

.error-msg{
    height:30px;
    margin-bottom: 0;
    text-align: center;
}